# IMPORTING AND ANALYSING THE DATASETS
* Importing the datasets

In [1]:
import pandas as pd
data=pd.read_csv("seattle-weather.csv")
data

            date  precipitation  temp_max  temp_min  wind  weather
0     2012/01/01            0.0      12.8       5.0   4.7  drizzle
1     2012/01/02           10.9      10.6       2.8   4.5     rain
2     2012/01/03            0.8      11.7       7.2   2.3     rain
3     2012/01/04           20.3      12.2       5.6   4.7     rain
4     2012/01/05            1.3       8.9       2.8   6.1     rain
5     2012/01/06            2.5       4.4       2.2   2.2     rain
6     2012/01/07            0.0       7.2       2.8   2.3     rain
7     2012/01/08            0.0      10.0       2.8   2.0      sun
8     2012/01/09            4.3       9.4       5.0   3.4     rain
9     2012/01/10            1.0       6.1       0.6   3.4     rain
10    2012/01/11            0.0       6.1      -1.1   5.1      sun
11    2012/01/12            0.0       6.1      -1.7   1.9      sun
12    2012/01/13            0.0       5.0      -2.8   1.3      sun
13    2012/01/14            4.1       4.4       0.6   5.3     snow
14    2012/01/15            5.3       1.1      -3.3   3.2     snow
15    2012/01/16            2.5       1.7      -2.8   5.0     snow
16    2012/01/17            8.1       3.3       0.0   5.6     snow
17    2012/01/18           19.8       0.0      -2.8   5.0     snow
18    2012/01/19           15.2      -1.1      -2.8   1.6     snow
19    2012/01/20           13.5       7.2      -1.1   2.3     snow
20    2012/01/21            3.0       8.3       3.3   8.2     rain
21    2012/01/22            6.1       6.7       2.2   4.8     rain
22    2012/01/23            0.0       8.3       1.1   3.6     rain
23    2012/01/24            8.6      10.0       2.2   5.1     rain
24    2012/01/25            8.1       8.9       4.4   5.4     rain
25    2012/01/26            4.8       8.9       1.1   4.8     rain
26    2012/01/27            0.0       6.7      -2.2   1.4  drizzle
27    2012/01/28            0.0       6.7       0.6   2.2     rain
28    2012/01/29           27.7       9.4       3.9   4.5     rain
29    2012/01/30            3.6       8.3       6.1   5.1     rain
...          ...            ...       ...       ...   ...      ...
1431  2015/12/02            2.5      10.6       4.4   5.0      fog
1432  2015/12/03           12.7      15.6       7.8   5.9      fog
1433  2015/12/04            2.0      10.6       6.1   4.7      fog
1434  2015/12/05           15.7      10.0       6.1   4.0      fog
1435  2015/12/06           11.2      12.8       7.2   5.9      fog
1436  2015/12/07           27.4      11.1       8.3   3.4      fog
1437  2015/12/08           54.1      15.6      10.0   6.2      fog
1438  2015/12/09           13.5      12.2       7.8   6.3      fog
1439  2015/12/10            9.4      11.7       6.1   7.5      fog
1440  2015/12/11            0.3       9.4       4.4   2.8      sun
1441  2015/12/12           16.0       8.9       5.6   5.6      fog
1442  2015/12/13            1.3       7.8       6.1   6.1      sun
1443  2015/12/14            0.0       7.8       1.7   1.7      sun
1444  2015/12/15            1.5       6.7       1.1   2.9      fog
1445  2015/12/16            3.6       6.1       2.8   2.3      fog
1446  2015/12/17           21.8       6.7       3.9   6.0      fog
1447  2015/12/18           18.5       8.9       4.4   5.1      fog
1448  2015/12/19            0.0       8.3       2.8   4.1      fog
1449  2015/12/20            4.3       7.8       4.4   6.7      fog
1450  2015/12/21           27.4       5.6       2.8   4.3      fog
1451  2015/12/22            4.6       7.8       2.8   5.0      fog
1452  2015/12/23            6.1       5.0       2.8   7.6      fog
1453  2015/12/24            2.5       5.6       2.2   4.3      fog
1454  2015/12/25            5.8       5.0       2.2   1.5      fog
1455  2015/12/26            0.0       4.4       0.0   2.5      sun
1456  2015/12/27            8.6       4.4       1.7   2.9      fog
1457  2015/12/28            1.5       5.0       1.7   1.3      fog
1458  2015/12/29            0.0       7.2       0.6   2.6      fog
1459  2015/12/30            0.0       5.6      -1.0   3.4      sun
1460  2015/12/31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [3]:
type(data)

pandas.core.frame.DataFrame

In [5]:
# showws only the first five items
data.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012/01/01            0.0      12.8       5.0   4.7  drizzle
1  2012/01/02           10.9      10.6       2.8   4.5     rain
2  2012/01/03            0.8      11.7       7.2   2.3     rain
3  2012/01/04           20.3      12.2       5.6   4.7     rain
4  2012/01/05            1.3       8.9       2.8   6.1     rain

In [6]:
# displaying the first ten items
data.head(10)

         date  precipitation  temp_max  temp_min  wind  weather
0  2012/01/01            0.0      12.8       5.0   4.7  drizzle
1  2012/01/02           10.9      10.6       2.8   4.5     rain
2  2012/01/03            0.8      11.7       7.2   2.3     rain
3  2012/01/04           20.3      12.2       5.6   4.7     rain
4  2012/01/05            1.3       8.9       2.8   6.1     rain
5  2012/01/06            2.5       4.4       2.2   2.2     rain
6  2012/01/07            0.0       7.2       2.8   2.3     rain
7  2012/01/08            0.0      10.0       2.8   2.0      sun
8  2012/01/09            4.3       9.4       5.0   3.4     rain
9  2012/01/10            1.0       6.1       0.6   3.4     rain

In [7]:
# displaying the last five items
data.tail()

            date  precipitation  temp_max  temp_min  wind weather
1456  2015/12/27            8.6       4.4       1.7   2.9     fog
1457  2015/12/28            1.5       5.0       1.7   1.3     fog
1458  2015/12/29            0.0       7.2       0.6   2.6     fog
1459  2015/12/30            0.0       5.6      -1.0   3.4     sun
1460  2015/12/31            0.0       5.6      -2.1   3.5     sun

In [9]:
# diisplaying the shape of the data
data.shape

(1461, 6)

In [10]:
data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
date             1461 non-null object
precipitation    1461 non-null float64
temp_max         1461 non-null float64
temp_min         1461 non-null float64
wind             1461 non-null float64
weather          1461 non-null object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [11]:
# displaying the mean
data.mean()

precipitation     3.029432
temp_max         16.439083
temp_min          8.234771
wind              3.241136
dtype: float64

In [14]:
# displaying the median
data.median()

precipitation     0.0
temp_max         15.6
temp_min          8.3
wind              3.0
dtype: float64

In [15]:
data.std()

precipitation    6.680194
temp_max         7.349758
temp_min         5.023004
wind             1.437825
dtype: float64

In [16]:
data.max()

date             2015/12/31
precipitation          55.9
temp_max               35.6
temp_min               18.3
wind                    9.5
weather                 sun
dtype: object

In [17]:
data.min()

date             2012/01/01
precipitation             0
temp_max               -1.6
temp_min               -7.1
wind                    0.4
weather             drizzle
dtype: object

In [18]:
# displaying the number of non-null items in the colujmn
data.count()

date             1461
precipitation    1461
temp_max         1461
temp_min         1461
wind             1461
weather          1461
dtype: int64

In [19]:
# descriptive statistics summary
data.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000