# SERIES OBJECCTS IN PANDAS

In [5]:
import pandas as pd
data=[1,2,3,4,5]
series1=pd.Series(data)
series1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
type(series1)

pandas.core.series.Series

# changing the index of the series object

In [9]:
series1=pd.Series(data,index=["a","b","c","d","e"])
series1

a    1
b    2
c    3
d    4
e    5
dtype: int64

# CREATING DIFFERENT SERIES OBJECT DATA TYPES
* Dictionary
* List
* Scalar

# HOW TO CREATE DATAFRAME

In [10]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [11]:
# creating dataframe using the dictionary
dictionary={"ffuits":["aplles","bananas","mangoes"],"counts":[10,2,33]}
df=pd.DataFrame(dictionary)
df

    ffuits  counts
0   aplles      10
1  bananas       2
2  mangoes      33

In [13]:
# creating dataframe using series
series1=pd.Series([1,2,3,4,5],index={"a","b","c","d","e"})
df=pd.DataFrame(series1)
df

   0
a  1
e  2
c  3
b  4
d  5

In [14]:
# creating dataframe from numpy array
import numpy as np
numpyArray=np.array([[120000,320000],["hanson","kibet"]])
df=pd.DataFrame({"name":numpyArray[1],"salary":numpyArray[0]})
df

     name  salary
0  hanson  120000
1   kibet  320000

## MERGE,JOIN AND CONCATINATION

* performing merger operation

In [2]:
import pandas as pd
player=["player1","player2","player3"]
point=[1,23,44]
title=["title1","title2","title3"]
df=pd.DataFrame({"Players":player,"points":point,"Title":title})
df

   Players  points   Title
0  player1       1  title1
1  player2      23  title2
2  player3      44  title3

In [4]:
player=["player1",'player5',"player6"]
point=["punch","kick","Elbow"]
title=["title1","title2","title3"]
df2=pd.DataFrame({"players":player,"Points":point,"Title":title})
df2

   players Points   Title
0  player1  punch  title1
1  player5   kick  title2
2  player6  Elbow  title3

In [5]:
df.merge(df2,on="Title",how="inner")

   Players  points   Title  players Points
0  player1       1  title1  player1  punch
1  player2      23  title2  player5   kick
2  player3      44  title3  player6  Elbow

In [10]:
df.merge(df2,on="Players",how="left")

KeyError: 'Players'